* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* 전체 레이아웃 */
body {
    display: flex;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 512px;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4caf50;
}

#todo-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-input{
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
}

#submit-btn {
    width: 15%;
    padding: 10px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: #45a049;
}

#todo-list{
    list-style-type: none;
    padding: 0;
}

#todo-list li{
    background-color: #fafafa;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#todo-list li button{
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

#todo-list li button:hover{
    background-color: #e60000;
}